body{
    background-color: rgb(61, 177, 206);
    font: normal 15pt Arial;    
}

section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    padding: 15px;
    width: 500px;
    margin: auto;
}

div#msg{
    padding: 8px;
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
}